/* 전체 */
body {
    margin: 0 auto;
}

/* 헤더 */
header {height: 350px;}

header>#logo {
    float: left; 
    height: 25px;
    margin: 10px 0 10px 10px;
}

header>form {
    float: right;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}

header>#titleImg {
    clear: both;
    width: 100%;
    height: 310px;
}

.navi {
    height: 60px;
}

.navi a {
    display: inline-block;
    height: 60px;
    width: 24%;
    text-align: center;
    line-height: 60px;
}

/* 본문 영역은 왼쪽, 사진 영역은 오른쪽 */
section {
    padding-left: 30px;
}

aside {
    width: 100%;
}

aside img {
    float:left;
    width: 32%;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

footer {
    clear: both;
    height: 100px;
    padding : 15px 0 10px 20px;
}